bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.bkp

*.drawio

*.cap

src/error.log

src/project-diagram-20-03-2026.png

*.spv

src/EmberVox.Sandbox/Models/rubber_duck.glb

src/EmberVox.Sandbox/Textures/atlas.png
